/* Table Section */
.table-section {
    -fx-border-radius: 5px;
    -fx-border-color: #000401;

}

/* Styled Table */
.styled-table {
    -fx-border-radius: 5px;
    -fx-border-color: #000401;
}

/* Table Column */
.table-column {
    -fx-alignment: CENTER;
}
/* List Section */
.list-section {
    -fx-border-radius: 5px;
    -fx-border-color: #000401;
}

/* Styled List */
.styled-list {
    -fx-border-radius: 5px;
    -fx-border-color: #000401;
}

/* List Cell */
.list-cell {
    -fx-alignment: CENTER;
}
.list-cell:selected {
    -fx-border-color: #0275d8;
    -fx-background-color: #d9edf7; /* Optional: Change background color for selected items */
}

.table-row-cell:selected .table-cell {

    -fx-border-color:#0275d8 ;
}


/* Action Section */
.action-section {
    -fx-background-color: #E3E3E3;
    -fx-padding: 10px;
}

/* Logout Button */
.logout-button {
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #d43f3a;
}

.logout-button:hover {
    -fx-background-color: #c9302c;
}
/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -fx-background-color: #E3E3E3;
    -fx-text-fill: #000401;
    -fx-font-family: "0xProto Nerd Font Mono";
    -fx-font-weight: bold;
    -fx-font-size: 22px;

}


/* Center the VBox vertically and horizontally */
.login_param {
    -fx-alignment: center;
    -fx-pref-width: 100%;
    -fx-max-width: 250px;  /* Set max width for responsiveness */
    -fx-spacing: 20px;
}

/* Header */
.header {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

/* Label for the input fields */
.input-label {
}

/* Input fields styling */
.input-field {
    -fx-border-color: black;
    -fx-max-width: 250px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

/* Focused state for input fields */


/* Login button styling */
.login-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-pref-width: 100%;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #4CAF50;
    -fx-min-width: 250px;

}

/* Hover state for the button */
.login-button:hover {
    -fx-background-color: #45a049;
}
.register_param:hover{
    -fx-text-fill: #025aa5;
    -fx-cursor: hand;
}
.add-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #4CAF50;

}
.add-button:hover {
    -fx-background-color: #45a049;
}
.remove-button {
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #d43f3a;

}
.remove-button:hover {
    -fx-background-color: #c9302c;
}
.default-button{
    -fx-background-color: #0275d8;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #034f8e;
}
.default-button:hover {
    -fx-background-color: #025aa5;
}
.sender-label{
    -fx-font-size:18px;
    -fx-font-weight: bold;
}
.message-label{
    -fx-font-size:15px;
}
.replyingTo{
    -fx-font-weight: bold;
    -fx-font-style: italic;
}
.message_box{
    -fx-border-radius: 5px;
    -fx-border-color: #000401;
}